{% extends "parts/base.html" %}
{% block title %}Add property{% endblock title %}

{% block page_content %}
{{ super() }}

<!--  實際上長這樣:<form action="/bookadd" method="post">   -->
<form class="form-inline" action="{{ url_for('property_info_app.propertyAdd')}}" method="post"> 
    <h5>Enter the property details</h5>
   


    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card ">
                <div class="card-body">
    <div class="form-group">
        Property_ID<input class="form-control" type="text" name="property_id" placeholder="Property_ID">
    </div>

    <!--<div class="form-group">
        <input class="form-control" type="text" name="propertyname" placeholder="PropertyName"> -->

        <div class="form-group">
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Please select</span>-->
                PropertyName<select name="propertyname" class="selectpicker form-control">
                      {% for o in books %}
                      <option value="{{ o.Item }}">{{ o.Item }}</option>
                      {% endfor %}
                    </select>
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Go</button>-->
          </div>


    
    <div class="form-group">
        Type<input class="form-control" type="text" name="type" placeholder="Type">
    </div>
    <div class="form-group">
        Price<input class="form-control" type="text" name="price" placeholder="Price">
    </div>
    <div class="form-group">
        ServiceLife<input class="form-control" type="text" name="servicelife" placeholder="ServiceLife">
    </div>
    <!--<div class="form-group">
        <input class="form-control" type="text" name="keeper_id" placeholder="Keeper_ID">-->

        <div class="form-group">
            <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Please select</span>-->
                Keeper_ID<select name="keeper_id" class="selectpicker form-control">
                      {% for o in books2 %}
                      <option value="{{ o.Member_ID }}">{{ o.Member_ID }}</option>
                      {% endfor %}
                    </select>
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Go</button>-->
          </div>


    
    <div class="form-group">
        StartDate<input class="form-control" type="text" name="startdate" placeholder="StartDate">
    </div>
    <div class="form-group">
        Location<input class="form-control" type="text" name="location" placeholder="Location">
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>

</div>
</div>
</div>
</div>
    </form>
{% endblock page_content %}