{% extends "parts/base.html" %}
{% block title %}member-edit-info{% endblock title %}


{% block page_content %}
{{ super() }}


<div class="container mt-5">
    <div class="row mb-5" id="msg-bar" style="display: {{ 'block' if request.method=='POST' else 'none' }}">
        <div class="alert {{ 'alert-primary' if status=='Success' else 'alert-danger'}} " role="alert">
            {{ status }}
        </div>
        {% if status=='Success' %}
            <a class="btn btn-primary btn-lg" href="/member/info">check the results</a>
        {% endif %}
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card ">
                <div class="card-body">
                    <form method="POST" action="/member/edit_info">
                        <div class="mb-3">
                            <label for="Member_ID" class="form-label">Member_ID</label>
                            <select class="form-select" name="Member_ID"  id="Member_ID" aria-label="Default select example">
                                {% for id in id_list %}
                                <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" name="Name" class="form-control" id="Name">
                        </div>
                        <div class="mb-3">
                            <label for="Unit" class="form-label">Unit</label>
                            <input type="text" name="Unit" class="form-control" id="Unit">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Occupation" id="inlineCheckbox1" value="保管人">
                            <label class="form-check-label" for="inlineCheckbox1">保管人</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Occupation" id="inlineCheckbox2" value="採購人員">
                            <label class="form-check-label" for="inlineCheckbox2">採購人員</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Occupation" id="inlineCheckbox3" value="財產管理人">
                            <label class="form-check-label" for="inlineCheckbox3">財產管理人</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="Delete_member" name="Delete_member">
                            <label class="form-check-label text-danger" for="flexSwitchCheckDefault">Delete this member</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}