{% extends "parts/base.html" %}
{% block title %}data-list{% endblock title %}


{% block page_content %}
{{ super() }}


<div class="container mt-5">
    <div class="row" id="msg-bar" style="display: {{ 'none' if request.method=='GET' else 'block' }}">
        <div class="alert {{ 'alert-primary' if status=='Success' else 'alert-danger'}} " role="alert">
            {{ status }} <a>!  Your Item SN is : {{PurchasingList_SN_GENERATE}}</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card ">
                <div class="card-body">
                    <form method="POST" action="/pc_build/pclist_submit">
                        <div class="mb-3">
                            <label for="List_ID" class="form-label">List_ID</label>
                            <select class="form-select" name="List_ID"  id="List_ID" aria-label="Default select example">
                                {% for id in id_list %}
                                <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Item" class="form-label">Item</label>
                            <input type="text" name="Item" class="form-control" id="Item">
                        </div>
                        <div class="mb-3">
                            <label for="Specification" class="form-label">Specification</label>
                            <input type="text" name="Specification" class="form-control" id="Specification">
                        </div>
                        <div class="mb-3">
                            <label for="Amount" class="form-label">Amount</label>
                            <input type="text" name="Amount" class="form-control" id="Amount">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination  justify-content-center mt-5">
    <li class="page-item">
      <form action="/pc_build/pclist_delete">
        <button class="btn btn-primary">刪除採購物品清單</button>
      </form>
    </li>
  
    <li class="page-item">
      <form action="/pc_build/">
        <button class="btn btn-primary">返回採購清單首頁</button>
      </form>
    </li>
  
  </ul>
{% endblock page_content %}