{% extends "parts/base.html" %}
{% block title %}data-list{% endblock title %}


{% block page_content %}
{{ super() }}


<div class="container mt-5">
    <div class="row" id="msg-bar" style="display: {{ 'none' if request.method=='GET' else 'block' }}">
        <div class="alert {{ 'alert-primary' if status=='Success' else 'alert-danger'}} " role="alert">
            {{ status }} <a>!  Your PurchasingList_ID is{{List_ID_GENERATE}}</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card ">
                <div class="card-body">
                    <form method="POST" action="/pc_build/Purchasing_submit">

                        <!--<div class="mb-3">
                            <label for="List_ID" class="form-label">List_ID</label>
                            <input type="text" name="List_ID" class="form-control" id="List_ID">
                            <select class="form-select" name="CustomerId"  id="CustomerId" aria-label="Default select example">
                                {% for id in id_list %}
                                <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>--> 

                        <!--<div class="mb-3">
                            <label for="Applicant_ID" class="form-label">Applicant_ID</label>
                            <input type="text" name="FirstName" class="form-control" id="FirstName">
                            <select class="form-select" name="Applicant_ID"  id="Applicant_ID" aria-label="Default select example">
                                {% for id in id_list %}
                                <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>-->

                        <div class="mb-3">
                            <label for="Applicant_ID" class="form-label">Applicant_ID</label>
                            <textarea class="form-control" name="Applicant_ID" id="Applicant_ID" rows="1"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="Date" class="form-label">Date</label>
                            <!-- <input type="text" name="Date" class="form-control" id="Company"> -->
                            <input id="date" type="date" name="Date" class="form-control" id="Date">
                            <!-- <select class="form-select" name="CustDateomerId"  id="Date" aria-label="Default select example">
                                {% for id in id_list %}
                                <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select> -->
                        </div>

                        <div class="mb-3">
                            <label for="Sn" class="form-label">Sn</label>
                            <textarea class="form-control" name="Sn" id="Sn" rows="1"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="Item" class="form-label">Item</label>
                            <textarea class="form-control" name="Item" id="Item" rows="1"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="Specification" class="form-label">Specification</label>
                            <textarea class="form-control" name="Specification" id="Specification" rows="1"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="Amount" class="form-label">Amount</label>
                            <textarea class="form-control" name="Amount" id="Amount" rows="1"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <!-- <button type="submit" class="btn btn-primary"> See All Submit</button>
                        <button type="submit" class="btn btn-primary"> Go to Scrapping</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="pagination  justify-content-center mt-5">
   
    <li class="page-item"></li>
      <form action="/pc_build/">
        <button class="btn btn-primary">返回</button>
      </form>
    </li>
    
  </ul>
{% endblock page_content %}