{% extends "parts/base.html" %}
{% block title %}data-list{% endblock title %}


{% block page_content %}
{{ super() }}
<table class="table table-light table-striped table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">ApplicantID</th>
        <th scope="col">ListID</th>
        <th scope="col">SubmitDate</th>
        <th scope="col">PurchaseID</th>
        <th scope="col">AcceptDate</th>
        <th scope="col">TransactionDate</th>
        <th scope="col">DeliveryDate</th>
        <th scope="col">SupplierID</th>
      </tr>
    </thead>
    <tbody>
        {% for col in outputs %}
        <tr>
            <th scope="row">{{ col['Applicant_ID'] }}</th>
            <td>{{ col['List_ID'] }}</td>
            <td>{{ col['SubmitDate'] }}</td>
            <td>{{ col['Purchaser_ID'] }}</td>
            <td>{{ col['AcceptDate'] }}</td>
            <td>{{ col['TransactionDate'] }}</td>
            <td>{{ col['DeliveryDate'] }}</td>
            <td>{{ col['Supplier_ID'] }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

  <ul class="pagination  justify-content-center mt-5">
    <!-- use querystring to control -->
    <li class="page-item"><a class="page-link" href="/pc_info?page={{ page-1 }}">Previous</a></li>
    {% for p in range(1,total_pages+1 ) %}
    <li class="page-item {{'active' if p==page else ''}}"><a class="page-link" href="/pc_info?page={{p}}">{{ p }}</a></li>
    {% endfor %}
    <li class="page-item"><a class="page-link" href="/pc_info?page={{ page+1 }}">Next</a></li>
</ul>


<ul class="pagination  justify-content-center mt-5">
  <li class="page-item">
    <form action="/pc_info/pcinfo_submit">
      <button class="btn btn-primary">建立採購清單資訊</button>
    </form>
  </li>

  <li class="page-item">
    <form action="/pc_info/pcinfo_edit">
      <button class="btn btn-primary">修改採購清單資訊</button>
    </form>
  </li>

</ul>
{% endblock page_content %}